@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="col-12">
        <h3>Questions</h3>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div id="questions"></div>
    </div>
</div>